<div id="title">
    <h1> {{title}}</h1>
    <h2> {{subTitle}}</h2>
    <p> {{web}}</p>
</div>

<article class="about">
    <h2> Sobre mí</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore quis, quas, neque sed omnis a molestiae accusamus, ab aspernatur porro temporibus ducimus nemo reiciendis adipisci nulla. Eos iusto debitis officiis sunt, hic reiciendis laboriosam tempora modi corrupti quasi et aut, aperiam vero quis, quo consectetur expedita doloribus repellendus nobis? Molestias!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid et enim rem blanditiis modi praesentium dolorum impedit dolorem, expedita iste, eveniet quas tempora similique nulla error doloremque animi vitae dolore nobis sapiente? Voluptatem, corrupti quidem, vitae rerum consequatur, nam nihil est molestiae quo harum culpa. Consequuntur saepe sit fugiat nemo.
    </p>
</article>
