<div class = "container">
    <h1>Contacto </h1>
    <div id ="texto" #textos>
        <p appResaltado>
            En esta pagina de contacto podes enviarnos cualquier consulta
        </p>
    </div>

    <!--
    Tamaño del Slider
    <input type = "number" [(ngModel)] = "widthSlider"/>
    <button (click)="cargarSlider()">Cargar Slider</button>
    <button (click)="resetearSlider()">Resetear Slider</button>

    <div *ngIf = "anchuraToSlider">
      <slider [anchura]="anchuraToSlider"
              [etiquetas] = "captions"
              (conseguirAutor) = "getAutor($event)" >
      </slider>
    </div>

    {{autor.nombre}} + " " + {{autor.website}}
    -->
</div>

